/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
  --branding-color: white;
  --secondary-color: #282323;
  --default-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

body {
  background: #1b1b1b;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
  font-weight: bold;
  color: var(--branding-color);
}

h1 {
  font-size: 64px;
  line-height: 84px;
  letter-spacing: 0.1em;
}

p {
  color: var(--branding-color);
  font-size: 16px;
}

nav {
  padding: 20px 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: var(--branding-color);
}

footer {
  background: var(--secondary-color);
}

.hero {
  text-align: center;
  padding: 160px 80px;
  background-image: url(/images/background.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 72px;
}

.hero h3 {
  line-height: 28px;
  letter-spacing: 0.1em;
  font-size: 24px;
  color: var(--branding-color);
}

.hero p {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
}

.content {
  margin: 30px;
}

.content h2,
h3 {
  font-size: 18px;
  color: #ed5082;
}

.camera-type {
  background: var(--secondary-color);
  margin: 0;
  padding: 10px;
  max-width: 60%;
}

.btn-branding {
  border-radius: 50px;
  background: var(--branding-color);
  padding: 15px 30px;
  line-height: 10px;
  font-size: 14px;
  font-family: var(--secondary-font-family);
  color: #272142;
}
.logo {
  max-height: 50px;
}
@media (max-width: 900px) {
  .hero {
    padding: 230px 0;
  }
  .hero h1 {
    font-size: 40px;
    line-height: 36px;
    letter-spacing: 0.1em;
  }

  .hero h3 {
    line-height: 14px;
    letter-spacing: 0.1em;
    font-size: 20px;
  }

  .camera-type {
    max-width: 100%;
  }

  p {
    font-size: 15px;
  }
}
